<body>
    <nav id="menubar">
        <div class="img-join"><img src="src/img/joinlogo.png"></div>
        <div id="menu-links">
            <a href="board.html" id="boardId" class="nav-link">Board</a>
            <a href="backlog.html"  id="backlogId" class="nav-link">Backlog</a>
            <a href="add-task.html" id="addTaskId" class="nav-link">Add task</a>
            <a href="help.html" id="helpId" class="nav-link">Help</a>           
        </div>
        <div class="user"><img width="70px" src="src/img/user.svg"></div>
    </nav>
</body>