

li {
    display: flex;
    align-items: center;
    counter-increment: item;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
}

li:before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    padding: 12px;
    content: counter(item);
    background: #4B5AA6;
    border-radius: 50%;
    color: white;
    width: 1.2em;
    height: 1.2em;
    min-width: 1.2em;
    min-height: 1.2em;
    text-align: center;
}